{% extends "base.html" %}
{% block content %}

<section style="padding:80px 10%; text-align:center;">
    <h2 style="font-family:'Playfair Display'; font-size:40px; color:#f7c873;">
        Our Story
    </h2>

    <p style="margin-top:20px; color:#ccc; max-width:700px; margin:auto;">
        LuxAura was born from a passion for crafting timeless fragrances
        that awaken emotion and memory.
    </p>
</section>

<section>
    <h2 style="font-family:'Playfair Display'; font-size:40px; color:#f7c873; text-align:center;">
        Our Mission
    </h2>

    <p style="margin-top:20px; color:#ccc; max-width:700px; margin:auto; text-align:center;">
        To create exquisite perfumes that inspire confidence and self-expression.
    </p>
</section><br><br>

<section>
    <h2 style="font-family:'Playfair Display'; font-size:40px; color:#f7c873; text-align:center;">
        Our Values
    </h2>

    <p style="margin-top:20px; color:#ccc; max-width:700px; margin:auto; text-align:center;">
        Quality, creativity, and sustainability are at the heart of everything we do.
    </p>
</section><br><br>

<section>
    <h2 style="font-family:'Playfair Display'; font-size:40px; color:#f7c873; text-align:center;">
        Meet the Team
    </h2>

    <p style="margin-top:20px; color:#ccc; max-width:700px; margin:auto; text-align:center;">
        Our talented team of perfumers and designers are dedicated to creating unforgettable scents.
    </p>
</section>



{% endblock %}
